################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/raspikey/.vs/RaspiKey/v15/.suo
